.header {
  /* border-top: 0px; */
}
.header-bottom .logo {
  margin-right: 1rem;
}
.menu-bar {
  flex: 1;
}
.menu {
  justify-content: flex-start;
}
.menu > li {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.menu > li > a {
  color: #7f7e83;
  font-weight: normal;
  font-size: 1.4rem;
  letter-spacing: 0.2rem;
}
.menu .megamenu .banner img {
  height: 300px;
  position: inherit;
}
.header-bottom .cart-dropdown {
  order: inherit;
  margin-left: inherit;
}
.wide-header {
  max-width: 100% !important;
}

.sticky-header.fixed .menu > li > a {
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}
.menu > li + li {
  margin-left: 1rem;
}
.header .container,
.header .container-fluid {
  justify-content: space-between;
}

.news-signup {
  font: 400 1.6rem/1.1 "Oswald", sans-serif;
  color: #fff;
}
.social-icons {
  margin-bottom: 20px;
}
.is-border-bottom {
  border-bottom: 1px solid #353a3e;
  margin-bottom: 20px;
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border-top: none;
  padding: 10px;
}

.footer {
  margin-top: 50px;
}

.footer-bottom .payment-images {
  height: 20px;
  margin-bottom: 10px;
}

.home-slide::before,
.home-slide::after {
  display: none;
}

@media screen and (max-width: 991px) {
  .header-bottom {
    display: block;
  }
}

/**
 * Custom style changes for style.min.css file
 */

.header-bottom .logo,
.header-bottom .cart-dropdown {
  display: block;
}

.fullwidth {
  min-width: 100%;
}

.ol-list {
  list-style: disc;
  margin-left: 40px;
}

.ol-list li {
  margin-bottom: 20px;
  line-height: 2;
}

.pp-text {
  line-height: 2;
  margin-bottom: 20px;
}

.color-box {
  width: 20px;
  height: 20px;
}

.btn-outline-primary {
  color: #7aa93c;
  border-color: #7aa93c;
}

.btn-outline-primary:hover {
  border-color: #7aa93c;
  background-color: #7aa93c;
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem #7aa93c80;
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active,
.show>.btn-outline-primary.dropdown-toggle {
  background-color: #7aa93c;
  border-color: #7aa93c;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem #7aa93c80;
}

.badge-primary {
  color: #fff;
  background-color: #7aa93c;
}

.span-unicode {
  unicode-bidi: embed;
}

.product-image img {
  margin: auto;
  width: 203px;
  height: 203px;
}

.w-15 {
  width: 15%;
}

li.next > .page-link, li.next > .page-link:hover, li.prev > .page-link, li.prev > .page-link:hover  {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3.6rem;
  height: 3.6rem;
  border: 0.1rem solid #7aa93c;
  padding: 0;
  color: #fff;
  background-color: #7aa93c;
  font-size: 1.8rem;
  cursor: pointer;
}

li.next > .page-link:hover, li.prev > .page-link:hover {
  opacity: .85;
}

.btn-xs {
  font-size: 1.1rem;
  padding: .5rem 1rem;
  letter-spacing: 1px;
  min-width: 70px;
}